.button {
  font-weight: 600;
  color: $white;
  background-color: $purple;
  background-image: linear-gradient($purple, $blue);
  padding: em(10 17);
  border-radius: em(3);
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 em(3) darken($blue, 3%);

  &:hover {
    background-color: lighten($purple, 5%);
    background-image: linear-gradient(lighten($purple, 5%), $blue 120%);
  }

  &:active {
    color: $white;
    color: rgba($white, 0.8);
    background-color: $blue;
    background-image: linear-gradient($blue, $purple 150%);
    box-shadow: 0 em(1) darken($blue, 3%);
    transform: translateY(em(2));
  }
}

.button--light {
  background-color: transparent;
  background-image: linear-gradient(transparent, rgba($white, 0.1));
  border: em(2) solid $white;
  box-shadow: 0 em(3) $white;

  &:hover {
    color: $purple;
    background-color: $white;
    background-image: none;
    box-shadow: 0 em(3) rgba($white, 0.8);
  }

  &:active {
    color: $blue;
    background-color: $white;
    background-image: none;
    box-shadow: 0 em(1) rgba($white, 0.8);
  }
}

@include mq(medium) {
  .button {
    padding: em(12 30);
  }
}
