@charset "UTF-8";

/*!
 * McGriddle
 * @description
 * @author Jonathan Suh @jonsuh
 * @site https://
 * @link https://
 */

// Imports
// ==================================================
@import "mcgriddle/settings";
@import "mcgriddle/functions";

// Container Mixin
// ==================================================
@mixin container {
  @if $grid-rtl == true {
    direction: rtl;
  }

  max-width: $grid-width;

  @if $grid-flexbox == true {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @else {
    &:after {
      content: " ";
      display: block;
      clear: both;
    }
  }
}

// Columns Mixin
// ==================================================
@mixin columns($size: 1, $position: default, $max-width: false) {
  @if $max-width == true {
    width: 100%;
    max-width: column-width($size);
  }
  @else { // $max-width == default
    width: column-width($size, %);
  }

  @if $position == center {
    margin-left: auto;
    margin-right: auto;
  }
  @else {
    @if $grid-flexbox == false {
      @if $position == left or $position == right {
        // $position == left
        $float: left;
        $margin: right;

        @if $position == right {
          $float: right;
          $margin: left;
        }
      }
      @else { // $position == default
        // $grid-rtl == false
        $float: left;
        $margin: right;

        @if $grid-rtl == true {
          $float: right;
          $margin: left;
        }
      }

      margin-#{$margin}: gutter-width(%);
      float: $float;
    }
  }
}
