// Settings
// ==================================================
$em-base: 16px;

// mq-sass
// ==================================================
$mq-ems: true;
$mq-breakpoints: (
  small   : 480px,
  medium  : 640px,
  mid     : 832px,
  large   : 1024px,
  xlarge  : 1280px,
);

// Colors
// ==================================================
$white: #fff;
$black: #000;

$grey-dark: #2f3338;
$grey-light: #f2f2f2;
$grey: #9e9e9e;

$blue-grey: #cfd8dc;
$blue-light: #bbdefb;
$blue: #0f2e52;
$purple: #6b36b0;
$orange: #ffe0b2;
$yellow: #fce68d;

