// Typography
// ==================================================
$monospace   : Consolas, "Liberation Mono", Courier, monospace;
$sans-serif  : -apple-system, BlinkMacSystemFont, ".SFNSDisplay-Regular", Roboto, Helvetica, Arial, sans-serif;
$heading-font: industry, $sans-serif;

body {
  @include font-smoothing;

  font-family: $sans-serif;
  color: $grey-dark;
}

::selection {
  background: $blue-grey;
}

h1,
h2,
h3 {
  font-family: $heading-font;

  &.flush-bottom {
    margin-bottom: 0;
  }
}

h1,
p {
  margin-top: 0;
}

h1 {
  font-size: em(40);
  text-align: center;
  letter-spacing: -0.02em;
  line-height: 1.1;
  margin-bottom: 0.2em;
}

h2 {
  font-size: em(20);
  color: $blue;
  margin-bottom: 0.3em;
}

h3 {
  font-size: em(18);
  color: $grey-dark;
}

p {
  margin-bottom: 1em;
}

ol,
ul {
  padding-left: 0;
}

li {
  margin-left: 2em;
  margin-bottom: 0.2em
}

p,
ol,
ul {
  line-height: 1.4;
}

p,
ol,
ul,
pre, {
  font-size: 1em;
  margin-bottom: 1em;

  ol,
  ul {
    font-size: 1em;
  }

  &.flush-bottom {
    margin-bottom: 0;
  }
}

a {
  color: $purple;

  &:hover {
    text-decoration: none;
  }
}

code,
pre {
  @include font-smoothing(false);

  font-family: $monospace;
}

code {
  font-size: 0.85em;
}

pre {
  overflow: auto;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  &.flush-bottom {
    margin-bottom: 0;
  }
}

p {
  code {
    display: inline;
    font-size: 0.9em;
    color: $purple;
    background-color: $grey-light;
    padding: 0.3em 0.3em 0.2em;
    border-radius: em(3);
  }
}

@include mq(small) {
  h1 {
    font-size: em(50);
    letter-spacing: -0.03em;
    margin-bottom: 0.25em;
  }

  p,
  ol,
  ul,
  pre {
    font-size: em(17);
  }
}

@include mq(medium) {
  h1 {
    font-size: em(60);
    letter-spacing: -0.04em;
    margin-bottom: 0.3em;
  }

  h3 {
    font-size: em(19);
  }

  p,
  ol,
  ul,
  pre {
    font-size: em(18);
  }
}

@include mq(large) {
  h1 {
    font-size: em(70);
    letter-spacing: -0.05em;
    margin-bottom: 0.35em;
  }

  h2 {
    font-size: em(24);
  }

  h3 {
    font-size: em(20);
  }
}
