// ==================================================
// Columns
// ==================================================
@mixin columns($size: 1, $position: default, $max-width: false) {
  @if $max-width == true {
    width: 100%;
    $column-width: column-width($size, false);

    @if $grid-collapse == true {
      @if $size < 1 {
        $size: 1;
      }

      $column-width: $column-width - (gutter-width(false) * ($size - 1));
    }

    max-width: $column-width;
  }
  @else { // $max-width == default
    width: column-width($size);
  }

  @if $position == center {
    margin-left: auto;
    margin-right: auto;
  }
  @else {
    $float: left;
    $margin: right;

    @if ($grid-flexbox == true and $grid-flexbox-justify != space-between) or $grid-flexbox == false {
      @if $grid-flexbox == true {
        @if $grid-flexbox-justify == flex-end {
          $margin: left;

          @if $grid-rtl == true {
            $margin: right;
          }
        }
        // $grid-flexbox-justify == flex-start, flex-end, center
        @else {
          @if $grid-rtl == true {
            $margin: left;
          }
        }
      }
      // $grid-flexbox == false
      @else {
        @if $grid-rtl == true {
          $float: right;
          $margin: left;
        }
      }

      @if $grid-flexbox == true {
        @if $grid-flexbox-justify != space-between {
          margin-#{$margin}: gutter-width();
        }
      }
      @else { // $grid-flexbox == false
        @if $position != last and $grid-collapse == false {
          margin-#{$margin}: gutter-width();
        }
        float: $float;
      }
    }
  }
}
