// ==================================================
// Container
// ==================================================
@mixin container($width: true) {
  @if $grid-rtl == true {
    direction: rtl;
  }

  @if type-of($width) == number {
    max-width: $width;
  }
  @else if $width == true or $width != false {
    max-width: $grid-width;
  }

  @include container-display;
}
