// ==================================================
// Container
// ==================================================
@mixin container($size: true) {
  @include container-display;

  @if type-of($size) == number and $size > 0 {
    $_grid-gutter-calc: $grid-gutter * ($grid-columns - 1);
    $grid-col         : ($grid-width - ($_grid-gutter-calc)) / $grid-columns;
    $gutter-count     : $size - 1;

    @if $size < 1 {
      $gutter-count: 1;
    }

    max-width: ($grid-col * $size) + ($grid-gutter * $gutter-count);
  }
  @else if $size == true or $size != false {
    margin-left: auto;
    margin-right: auto;
    max-width: $grid-width;
  }

  @if $grid-rtl == true {
    direction: rtl;
  }
}
