// ==================================================
// Grid Flexbox
// ==================================================
@mixin grid-flexbox($flexbox: default) {
  @if $flexbox == default or $flexbox != true {
    $flexbox: false;
  }
  @else if $flexbox == true {
    $flexbox: true;
  }

  $grid-flexbox: $flexbox !global;
}
