// ==================================================
// Shift
// ==================================================
@mixin shift($size: 1, $value: %) {
  $margin: left;

  @if $grid-rtl == true {
    $margin: right;
  }

  $shift-initial: column-width($size, $value);

  @if $size < 1 {
    $shift: $shift-initial + gutter-width($value) - (gutter-width($value) * $size);
  }
  @else {
    $shift: $shift-initial + gutter-width($value);
  }

  margin-#{$margin}: $shift;
}
