// ==================================================
// Shift
// ==================================================
@mixin shift($size: 1, $gutter: true, $percent: true) {
  $margin: left;

  @if $grid-rtl == true {
    $margin: right;
  }

  $shift: column-width($size, $percent);

  @if $grid-collapse == false {
    @if $size < 1 {
      @if $gutter == false {
        $shift: $shift - gutter-width($percent);
      }
    }
    @else if $gutter == true {
      $shift: $shift + gutter-width($percent);
    }
  }

  margin-#{$margin}: $shift;
}
